.customMagicSuggest{
  background-color: rgb(127, 136, 63);
}

.customMagicSuggest .ms-res-ctn .ms-res-item{
  display: inline;
  padding: 0px 30px 0px 30px;
}

.customMagicSuggest .ms-res-ctn{
  height: 2px;
  max-height: 50px;
  overflow-x: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 10%;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
