@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/helpers";

$blue-kategori : $blue-300;
$font-hover-kategori: $white;

.kategori-heading{
  font-size: 1.4rem;
}
.kategori-container{
  // background-color: rgb(138, 92, 215);
  ul{
    padding: 0;
    li{
      display: inline-block;
      margin: 1em 0.75em 1em 0;

      .kategori-item{
          border: 1px solid $blue-kategori;
          border-radius: 16px;
          padding: 4px 12px;
          &:hover{
            background-color: $blue-kategori;
            color: $font-hover-kategori;
          }
      }
    }
  }
}
