#imageEdit{
  max-width: 164px;
  padding: 20px;
}
//custom
.fa-right{
  float: right!important;
  padding-right: 0;
  margin-right: 0 !important;
}

.dropdown-wcb{
  cursor: pointer;

}
.dropdown-wcb-container{
  // display: none;
  max-height: 0;
  overflow: hidden;
  background-color: $grey-600;
  color: $grey-200;
  transition: all 0.3s ease-out;
  // &.opened{
  //   background-color: rgb(2, 170, 127);
  // }
  & > a{
    display: block;
    margin: 10px 15px;
    color: inherit;
    padding: 5px 35px;
    background-color: transparent!important;
    box-shadow: none!important;
    &:hover{
      background: rgba(200, 200, 200, 0.2)!important;
    }
    &.active{
      background-color: #64b5f6!important;
    }
  }
}

.col-centered{
    margin: 0 auto;
    float: none;
}

label.label-wcb{
  color: $yellow;
  font-size: 1.5rem;
}

.table-wcb{
  td{
    img{
      max-height: 100px;
      max-width: 100px;

    }
  }
}
