@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/helpers";

* {
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -ms-transition:     all 0.3s ease;
  -o-transition:      all 0.3s ease;
}
body, html {
    height: 100%;
    @extend %base-font;
    font-size: $font-size-base;
    // transition: 2000ms ease all;
    @include for-size(phone-only){
      font-size: $font-size-phone;
    }
}

button:focus {outline:0;}
button{
  cursor: pointer;
}

h1{
  font-size: $font-size-h1;
}
h2{
  font-size: $font-size-h2;
}
h3{
  font-size: $font-size-h3;
}
h4{
  font-size: $font-size-h4;
}
h5{
  font-size: $font-size-h5;
}
h6{
  font-size: $font-size-h6;
}


a{
  @extend %non-decorated-link;
  &:hover{
    @extend %non-decorated-link;
    color: $link-hover-color;
  }
}
.container-wcb{
  width: 100%;
  padding: 0 5%;
  margin-right: auto;
  margin-left: auto;
}

#section-top{
  // margin-top: 84px;
}

#section-top-pushed{
  margin-top: 84px;
}

.breadcrumb-wcb{
  font-size: 1.35rem;
  margin-top: 20px;
  font-weight: 300;
  color: $breadcrumb-font-color;
}

.section-no_full_page_no_bg{
  // @extend %height-100;
  height: auto;
  // overflow: auto; //prevent child from pushing outer elements ref
  background-color: $content-bg-white;
  // position: static;
  padding: 30px 0 80px;
}
.bg-striped{
  background-color: $content-bg-striped;
}
.section-no_full_page_bg{
  height: 50%;
  position: relative;
  //more in pages/_pages.scss
}

.section-full_page_bg{
  @extend %height-100;
  position: relative;
    //more in pages/_beranda.scss
}

.section-full_page_bg, .section-no_full_page_bg{
  .the-background{
    @extend %the-background-layout;
  }

  // centering text vertically and horizontally ref : https://stackoverflow.com/questions/19184052/center-align-with-table-cell
  .overlay{
    color: $font-text-overlay;
    @extend %overlay-layout;
    .overlay-text-center{
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      .overlay-text-content{
        display: inline-block;
        width: 50%;
        line-height: 1.25;
      }
      .overlay-text-judul{
        font-size: 4rem;
        @include for-size(phone-only){
          font-size: 2rem;
        }
      }
    }

    .overlay-text{
      // color: $font-text-overlay;
      display: table-cell;
      // text-align: center;
      vertical-align: bottom;
      .overlay-text-container{
        position: absolute;
        bottom: 22%;
        left: 5%;

        .overlay-text-judul{
          color: $font-text-overlay;
          font-size: 3.25rem;


        }
        h1, h2 ,h3 ,h4, h5 ,h6{
          margin: 0;
        }
        .breadcrumb-wcb{
          color: inherit;
          margin-top: 10px;

        }
      }
    }
  }
}

.section-heading{
  margin: 20px 0 20px;
  position: static;
  h1, h2, h3, h4, h5, h6, p{
    font-weight: bolder;
  }
  @include for-size(phone-only){
    text-align: center;
    margin-top: 0;
    h1, h2, h3, h4, h5, h6{
      font-size: 1.5rem;
    }

  }
}
.section-content{
  margin: 60px 0 0;
}


.no-padding{
  padding:0;
}

.no-margin{
  margin:0;
}

.icons-dropdown{
  @include bg-img('../img/icons/icons-dropdown.png');
  height: 16px;
  width: 16px;
  display: inline-block;
  border: none !important;
  vertical-align: -5%;
  margin-left: 4px;
  // background: transparent !important
  // background-color: #000;
  transition: 400ms ease all;
  transform: rotate(360deg);
}

.content-box{
  font-size: $font-size-content-box;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  margin: 20px 0 0 0;
  p:not(:last-child){
    margin-bottom: 40px;
  }
}
.text-grey{
  color: $grey-400;
}

.row{
  margin-top: 40px;
  @include for-size(phone-only){
    margin-top: 20px;
  }
}

.filterGroup{
  margin: 2em 0;
  label{
    font-size: 1.25em;
    display: block;
    font-weight: bold;
  }
}

#inputFilterWCB{
  min-height: 36px;
  border: $border-mumtaz;
  border-radius: 8px;
  padding: 0 1em;
  width: 50%;
  @include for-size(tablet-portrait-down){
    width: 100%;
  }
  &:focus{
    border: $border-wcb;
  }
  &::placeholder{
    color: $input-placeholder-color;
  }
}
