@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/helpers";
@import "../responsive/responsive";


.table-wcb-container{
  // border: 1px solid black;
  @include box-shadow(3);
  table{
    // display: block;
    width: 100%;
    // height: 100px;
    // overflow-y: scroll;
    tbody{
      width: 100%;
      height:480px;
      overflow-y:auto;
    }
    thead{
      @include border-one_side_only-shadow(top);
    }
    tbody,tr,td,th{
    display:block;
    }
    tbody{
      td{
        float:left;
      }
    }
    tr.row-head{
      @include border-one_side_only-shadow(top);
    }
    th{
      // box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;
      // padding: 20px 0;
      color : $table-header-color;
      // @include border-one_side_only-shadow(top);
      // border-bottom: $border-mumtaz-bold ;
    }
    td, th{
      padding: 20px 0;
      &:first-child{
        text-align: center;
      }
    }
    td{
      border-bottom: $border-mumtaz;
    }

    thead {
      tr{
        th{
        float:left;
        }
      }
    }

  }
}

.table-wcb-container2{
  // border: 1px solid black;
  @include box-shadow(3);
  table{
    // display: block;
    width: 100%;
    // height: 100px;
    // overflow-y: scroll;
    tbody{
      width: 100%;
      height:480px;
      overflow-y:auto;
    }
    thead{
      @include border-one_side_only-shadow(top);
    }
    tbody,td, th{
    display:block;
    }
    tbody{
      td{
        float:left;
      }
      tr{
        border-bottom: $border-mumtaz;
      }
    }
    tr.row-head{
      @include border-one_side_only-shadow(top);
    }
    th{
      // box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;
      // padding: 20px 0;
      color : $table-header-color;
      // @include border-one_side_only-shadow(top);
      // border-bottom: $border-mumtaz-bold ;
    }
    td, th{
      padding: 20px 0;
      &:first-child{
        text-align: center;
      }
      @include for-size(tablet-portrait-down){

        text-align: left;
        padding: 20px;
      }

    }
    td{
    }

    thead {
      tr{
        th{
        float:left;
        }
      }
    }

  }
}
