@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/helpers";

#header{
  font-size: $font-size-header;
  font-weight: $font-weight-header;
  background-color: $header-main-color;
  line-height: 1.5;
  color: $font-base-color;
  width: 100%;
  height: 84px;
  position: fixed;
  z-index: 1;
  top: 0px;
  @include box-shadow(3);
    .header-main{
      position: relative;
      height: 100%;
      div:not(.dropdown-content){
        display: inline-block;
        height: 100%;
        box-sizing: content-box;
      }
      .box-left{
        width: $logo-container-size;
        padding-left: 20px;
        @extend %vertical-align-antipush;
        .logo-company-container{
          position:relative;
          text-align: center;
          height: 100%;
          width: 100%;
          img{
            vertical-align: middle;
            max-height: 39px;
            max-width: 100%;
            @include for-size(phone-400){
              max-height: 30px;
            }
          }
          @include for-size(tablet-portrait-down){
            width: auto;
            padding: 20px 0;
          }
        }
        //End of logo-company-container
        @include for-size(tablet-portrait-down){
          // @include disp-flex-important;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }
      //End of Box Left

      .box-right{
        float: right;
        padding-right: 2em;
        position:relative;
        display: inline-block;
        @extend %vertical-align-antipush;
        @include box_sisa_widthcalc($logo-container-size,'-',240px);
        .items-container-right{
          float: right;
          height: 100%;
          width: 95%;
          //flex
          @include disp-flex;
          justify-content: space-between;
          align-items: center;

            div:not(.dropdown-content){
              @extend %header-items;
              input{
                position: relative;
                top: 28%;
              }
            }
            .wcb-navbar-collapse{
              width: 100%;
              float: right;
              @include disp-flex;
              transition: max-height 200ms ease-out;

              .header-items-link{
                text-align: center;
                // flex-basis: 200px;
                flex-grow: 1;
                @extend %header-items;
                @extend %header-items-link;
                cursor: pointer;
                &.dropdown-wcb{
                  // flex-grow: 3;
                }
                p, span{
                  position: relative;
                  top: 36%;
                }
                &:hover{
                  background-color: $header-hover-bg_color;
                  .icons-dropdown{
                    transform: rotate(180deg);
                    transition: 200ms ease all;
                  }
                }
                @include for-size(tablet-portrait-down){
                  display:block !important;
                  width: 100%;
                  padding: 20px 0;
                  &:not(.items-kontak){
                    border-bottom: $border-mumtaz;
                  }
                  p{
                    margin: 0;
                  }
                }
              }
              //End of header-items-link
              .form-control-header{
                order: 2;
                width: $header-search-width;
                margin-left: 5px;

                @include for-size(tablet-portrait-down){
                  @include disp-flex;
                  width: 100%;
                  margin: 0;
                  margin-bottom: 1.5em;
                  input{
                    width: 50%;
                    display: inline-block;
                    margin: 0 auto;
                  }
                }
              }

              @include for-size(tablet-portrait-down){
                display: block;
                max-height: 0;
                overflow: hidden;
                &.show{
                  // max-height: 100%; //moved to JS
                  overflow: scroll;

                }
              }
            }
            // End of Navbar-Collapse

            @include for-size(tablet-portrait-down){
              // display: none;
              width: 100%;
            }
          }
          // End of items-container-right
          @include for-size(tablet-portrait-down){
            display:block !important;
            width: 100%;
            padding-right: 0;
          }
        }
        // End of box-right

        @include for-size(tablet-portrait-down){
          display:block !important;
          width: 100%;
        }
      }
      // End of header-main

      @include for-size(tablet-portrait-down){
        height: auto;
      }

      @include for-size(phone-only){
        height: auto;
        // width: auto;
      }
}
// End header

.wcb-navbar-toggler{
  display:none;
  border: 0;
  color: $header-button-color;
  background: transparent;
  i.material-icons{
    font-size: 2.5em;
    // vertical-align:
    @include for-size(phone-only){
      font-size: 2em;
    }
  }
  @include for-size(tablet-portrait-down){
    display:initial;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  @include for-size(phone-only){
    top: 22px;
  }
  @include for-size(phone-400){
    top: 18px;
  }
}


input.bordered-circle{
  @extend %input-border ;
}
.dropdown-wcb {
    position: relative;
    display: inline-block;
    &:hover{
      .dropdown-content {
          display: block ;
      }
    }

}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $header-main-color;
    width: 100%;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    @include box_shadow(3);

    font-weight: 100;
    font-size: $font-size-dropdown;
    a{
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover{
        background-color: $header-hover-bg_color;

      }
    }
}
